<div id="transaction_user_amount">
  <div class="clearfix">
    <%= label_tag :beneficiaries, "Beneficiaries", :class => :label %>
    <div class="input">
      <% txn_users_count = @transaction.transactions_users.size ;txn_users_column_count = (txn_users_count.to_f/ 3).ceil; i = 0 %>
      <%= f.fields_for :transactions_users do |tu_form| %>
      <% if i.modulo(txn_users_column_count)== 0 %>
      <ul class="txn_user_list">
      <% end %>
        <li>
          <%= tu_form.hidden_field :user_id %>
          <%= tu_form.hidden_field :transaction_id %>
          <%= button_tag tu_form.object.user.name, :type => 'button', :class => "txnamountuser btn btn-primary#{!tu_form.object.amount.blank? ? " active" : ""}" %>
          <%= tu_form.hidden_field :amount, {:class => "input-mini txnuseramount"} %>
          <%= tu_form.hidden_field :_destroy, :value => tu_form.object.amount.blank?, :class => "txnuserdestroy" %>
        </li>
      <% if i.modulo(txn_users_column_count)== txn_users_column_count - 1 || i == txn_users_count - 1 %>
      </ul>
      <% end %>
      <%  i += 1; end%>
    </div>
  </div>
</div>

<div class="clearfix">
  <%= label_tag :amount, "Amount", :class => :label %>
  <div class="input">
    <%= text_field_tag  :amount, @transaction.transactions_users.collect{|tu| tu.amount.blank? ? 0 : tu.amount}.inject(:+), :class => 'text_field', :id => "transaction_equal_amount" %>
  </div>
</div>