<div class="group_header wellblue">
    <h3> Groups </h3>
    <strong><%= link_to "Create Group", new_group_path, :method => "get", :class => 'btn primary' %></strong>
</div>
<% if @groups.empty? %>
    You don't own any groups at this point. <br/><br/>
<%else%>
<table class="table table-striped">
 <thead>
  <tr>
    <th>ID</th>
        <th>
      <%= t("activerecord.attributes.group.name", :default => t("activerecord.labels.name", :default => "Name")) %>
    </th>
        <th>Created at</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>  
  <% @groups.each do |group| -%>
   <tr>
    <td><%= group.id %></td>
        <td><%= link_to group.name, group_path(group) %>
    </td>
        <td><%= group.created_at %></td>
    <td>      
      <%= link_to image_tag('edit_16x16.png'), edit_group_path(group) %>
      <%= link_to image_tag('delicon.png'), group_path(group), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
    </td>
    </tr>
  <% end end -%>

  
   </tbody>
</table>