
<label class="label"><%= t("activerecord.attributes.group.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</label>
<p><%= @group.name %></p>

<label class="label"><%= t("activerecord.attributes.group.status", :default => t("activerecord.labels.status", :default => "Status")) %>:</label>
<p><%= @group.status %></p>

<label class="label"><%= t("activerecord.attributes.group.user_id", :default => t("activerecord.labels.user_id", :default => "Owner")) %>:</label>
<p><%= User.find(@group.user_id).name %></p>

<label class="label"><%= t("activerecord.attributes.group.code", :default => t("activerecord.labels.code", :default => "Group Code")) %>:</label>
<p><%= @group.code %></p>
<br/>
<div id="invite_friends">
  <%= form_tag({:action => "sendinvites"}, :remote => true, :method => "post", :class => "well", :id => "form_invite") do -%>
    <%= hidden_field_tag :groupid, @group.id, :class => 'text_field' %>
    <%= text_field_tag :emailids, params[:emailids],  {:class => 'span3', :placeholder => "Enter email ids…"} %>
    <span class="help-inline">Invite your friends to this group</span><br/>
    <button type="submit" class="btn-success">Send Invites</button>
  <%end%>
</div>