<div class="group_header wellblue">
    <h3> My Profile </h3>
    <strong><%= link_to "Create Group", new_group_path, :method => "get", :class => 'btn primary' %></strong>
</div>
<% if @hasagroup.nil? %>
<br/>
<strong>New to Magic Accounts ? Start over by creating a Group ! </strong><br/><br/>
<% elsif @hasanaccount.nil? %>
<br/>
<strong>We see you are part of one or more groups. add an account to start tracking your transactions </strong><br/><br/>
  <strong><%= link_to "Create New Account", new_account_path, :method => "get", :class => 'btn primary' %></strong>
<% elsif  @uniquegroups == [] %>
  <br/>
  <strong>Add transactions and start tracking them now !</strong><br/><br/>
  <strong><%= link_to "Enter Transaction", new_transaction_path, :method => "get", :class => 'btn primary' %></strong>
<% else %>
<% @uniquegroups.each do |group| -%>
<div class="group_header wellblue">
    <h3> <%=  Group.find(group[:groupid]).name %> </h3>
    <% if Group.find(group[:groupid]).user_id == session[:user_id] %>
    <h5>(Owner)</h5>
    <%else%>
    <h5>(Member)</h5>
    <%end%>
    
    <strong><%= link_to "Create Account", { :controller => 'accounts', :action => 'new', :groupid => group[:groupid] },:method => "get", :class => 'btn primary' %></strong>
    <% if Group.find(group[:groupid]).user_id == session[:user_id] %>
      <%=  link_to "Manage Group", {:controller => 'groups', :action => 'index'}, {:class => 'headerlinks'} %>
    <%end%>
    
</div>

<% @uniqueaccounts.collect { |account| account if group[:groupid] == account[:groupid]}.each do |account| -%>
<% if account  %>
<div class="group_header wellgreen">
    <h3> <%=  Account.find(account[:accountid]).name %></h3>
    <% if Account.find(account[:accountid]).user_id == session[:user_id] %>
    <h5>(Owner)</h5>
    <%else%>
    <h5>(Member)</h5>
    <%end%>    
    <strong><%=  link_to "Transactions", {:controller => 'transactions', :action => 'view', :accountid => account[:accountid]}, {:class => 'btn success'} %></strong>
    <% if Account.find(account[:accountid]).user_id == session[:user_id] %>
    <%=  link_to "Manage Account", {:controller => 'accounts', :action => 'index'}, {:class => 'headerlinks'} %>
    <%end%>
    
    
</div>

<table class="table table-striped table-bordered">
 <thead>
  <tr>
    <th>User</th>
    <th>Investments</th>
    <th>Expenditures</th>    
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @balance.collect {|bal| bal if (account[:groupid] == bal.group_id && account[:accountid] == bal.account_id) }.each do |balance| -%>
   <% if balance %>
    <tr>
    <td><%= balance.user_name == User.find(session[:user_id]).name ? "Myself" : balance.user_name %></td>
    <td><%= balance.investments %></td>
    <td><%= balance.expenditures %></td>
    
    <td>
      <% if balance.investments - balance.expenditures < 0 -%>
      Pay <%= balance.user_name %> Rs. <%= balance.expenditures - balance.investments %> 
      <% elsif balance.investments - balance.expenditures > 0  %>
      Request <%= balance.user_name %> Rs. <%= balance.investments - balance.expenditures %> 
      <% end -%>
    </td>
    </tr>
    <% end end -%>
   </tbody>
</table>
<% end end -%>
<% end end -%>


