<label class="label"><%= t("activerecord.attributes.account.group_id", :default => t("activerecord.labels.group_id", :default => "Group")) %>:</label>
<p><%= Group.find(@account.group_id).name %></p>

<label class="label"><%= t("activerecord.attributes.account.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</label>
<p><%= @account.name %></p>

<label class="label"><%= t("activerecord.attributes.account.code", :default => t("activerecord.labels.code", :default => "Code")) %>:</label>
<p><%= @account.code %></p>

<label class="label"><%= t("activerecord.attributes.account.status", :default => t("activerecord.labels.status", :default => "Status")) %>:</label>
<p><%= @account.status %></p>

<label class="label"><%= t("activerecord.attributes.account.remarks", :default => t("activerecord.labels.remarks", :default => "Remarks")) %>:</label>
<p><%= @account.remarks %></p>

<label class="label"><%= t("activerecord.attributes.group.user_id", :default => t("activerecord.labels.user_id", :default => "Owner")) %>:</label>
<p><%= User.find(@account.user_id).name %></p>

<div class="form-actions">
<%= link_to "Back", accounts_path, :class => 'btn'  %>
</div>
